body {
  background-color: rgb(251, 250, 136)
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: orange;
  font-size: 3rem;
}

nav {
  grid-column: 5/ span 2;
  background-color: rgb(137, 242, 167)
}

nav a {
  text-decoration: none;
  color: rgb(23, 149, 173);
  font-size: 2rem;
}

p {
  color: green;
  border: 2px solid red;
  background-color: hsl(0, 0%, 80%);
  border-radius: 50%;
  font-size: .8rem;
}
